/* sub1.css */
@import url(reset.css);

/* common */
body{font-size: 14px; font-family: 'Roboto', sans-serif;}
a{color: #000; text-decoration: none;}


/* layout */
#header{position: fixed; left: 0; top: 0; width: 100%; z-index: 40; backdrop-filter: blur(4px);}
  .header_top{width: 100%; height: 100px; border-bottom: 1px solid #fff; transition: height 0.5s linear 0s;}
  .header_top.on{height: 0px; overflow: hidden;}
  .header_bottom{width: 100%; height: 65px; border-bottom: 2px solid #fff;}
  .header_bottom.white{border-bottom: 2px solid #000;}
    .header_inner{position: relative; width: 1720px; margin: 0 auto;}
#container{overflow: hidden;}
  #container > div{width: 100%; color: #fff;}
    #container > div > section{position: relative; width: 100%; min-width: 1720px; height: 100%; overflow: hidden;}
#footer{position: absolute; left: 0; bottom: 0; width: 100%; height: 90px; border-radius: 600px 0px 0px 0px; background: linear-gradient(270deg, #1C0B41 0%, #AE119C 100%); z-index: 35;}
  .footer_inner{position: relative; width: 1720px; height: 90px; margin: 0 auto;}
  .footer_inner::after{content: ""; position: relative; clear: both;}


/* header */
/* .header_top */
.header_top > .header_inner > h1{width: 243px; height: 51px; line-height: 100px; margin: 0 auto;}
.header_top > .header_inner > p{color: #fff; font-size: 16px; font-weight: 700;}

.header_top > .header_inner > p:nth-of-type(1){position: absolute; left: 0; top: 40px;}
.header_top > .header_inner > p:nth-of-type(1) > span:first-child{position: relative; padding-right: 48px; margin-right: 20px;}
.header_top > .header_inner > p:nth-of-type(1) > span:first-child::after{content: ""; position: absolute; right: 0; top: -5px; width: 28px; height: 29px; background: url(../images/icon_top.png)no-repeat 0 0;}

.header_top > .header_inner > p:nth-of-type(2){position: absolute; right: 0; top: 40px;}
.header_top > .header_inner > p:nth-of-type(2) > span > a{display: inline-block; width: 27px; height: 29px; background: url(../images/icon_instagram.png)no-repeat 0 0; text-indent: -9999px; overflow: hidden; vertical-align: middle; margin-right: 20px;}

/* .header_bottom */
.header_bottom > .header_inner a{color: #fff; font-size: 16px; font-weight: 400;}
.header_bottom.white > .header_inner a{color: #000;}
.header_bottom > .header_inner > nav > ul{display: flex; justify-content: center;}
.header_bottom > .header_inner > nav > ul > li{position: relative; width: 177px; line-height: 65px; text-align: center;}
.header_bottom > .header_inner > nav > ul > li::after{content: ""; position: absolute; right: 0; top: 50%; width: 5px; height: 5px; border-radius: 50%; background-color: rgba(255, 255, 255, 0.5); transform: translateY(-50%);}
.header_bottom.white > .header_inner > nav > ul > li::after{background-color: rgba(0, 0, 0, 0.5);}
.header_bottom > .header_inner > nav > ul > li:last-child:after{display: none;}
.header_bottom > .header_inner > nav > ul > li > a:hover{font-weight: 500; text-decoration: underline; text-underline-position : under;}


/* content1 */
.content1 > section{width: 100%; background-blend-mode: multiply; overflow: hidden; background: rgba(0, 45, 31, 0.50) url(../images/melon_bg.jpg)no-repeat 50% 0;  background-size: cover; margin: 0 auto;}
.content1 > section > div{width: 1720px; margin: 0 auto; box-sizing: border-box;  padding: 250px 292px 0 146px;}

.content1 > section > div > h3{font-size: 16px; font-weight: 700; line-height: 20px; text-decoration-line: underline; margin-bottom: 31px;}
.content1 > section > div > h4{font-size: 70px; font-weight: 700;}
.content1 > section > div > p{font-size: 18px; font-weight: 400; line-height: 26px; margin-top: 40px;}

.content1 > section > div > ul{position: absolute; left: 0; bottom: 125px; width: 100%; display: flex; justify-content: space-between; box-sizing: border-box;  padding: 0 390px 0 245px;}
.content1 > section > div > ul > li{flex: 1; margin-right: 22px; text-align: center; font-size: 18px; padding-bottom: 39px; border-bottom: 1px solid #fff; transform: translateY(0); opacity: 0.7; transition: transform 0.3s linear 0s, opacity 0.3s linear 0s;}
.content1 > section > div > ul > li:last-child{margin-right: 0;}
.content1 > section > div > ul > li:hover{transform: translateY(-10px); opacity: 1;}

/* content 전체 글씨 */
section h4{font-size: 24px; font-weight: 700; line-height: 30px; text-transform: uppercase;}
section p:first-of-type{font-size: 15px; font-weight: 400; line-height: 25px;}

/* content2 */
.content2 > section{position: relative; background: linear-gradient(180deg, rgba(243, 255, 241, 0.00) 0%, #F3FFF1 100%); color: #000;}
.content2 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/webDesign_con1_img.png)no-repeat 92% 50%; }
.content2 > section > div{width: 1720px; margin: 0 auto; box-sizing: border-box;  padding: 120px 292px 0 146px;}

.content2 > section > div > h4{display: inline-block; vertical-align: top; margin-right: 36px;}
.content2 > section > div > p{display: inline-block; width: 556px;}

.content2 > section > div > ul:first-of-type{position: relative; clear: both; height: 248px; margin: 115px 0 79px;}
.content2 > section > div > ul:first-of-type::after{content: ""; position: relative; clear: both;}
.content2 > section > div > ul:first-of-type > li{float: left; width: 248px; height: 248px; border-radius: 50%; text-align: center; font-size: 18px; font-weight: 400; line-height: 26px; text-transform: uppercase; color: #7D7D7D; padding-top: 97px; box-sizing: border-box;}
.content2 > section > div > ul:first-of-type > li:first-child{background: rgba(11, 200, 144, 0.40);}
.content2 > section > div > ul:first-of-type > li:nth-child(2){background: rgba(255, 255, 255, 0.80); transform: translateX(-28px);}
.content2 > section > div > ul:first-of-type > li:last-child{background: rgba(141, 141, 141, 0.30); transform: translateX(-56px);}
.content2 > section > div > ul:first-of-type > li > p > strong{font-size: 20px; font-weight: 700;}

.content2 > section > div > ul:last-of-type{position: relative; clear: both; width: 700px; display: flex; justify-content: center;}

.content2 > section > div > ul:last-of-type > li{position: relative; width: 110px; text-align: center; font-size: 17px; font-weight: 400; line-height: 25px; padding-top: 141px; margin-right: 36px;}
.content2 > section > div > ul:last-of-type > li:last-child{margin-right: 0;}
.content2 > section > div > ul:last-of-type > li::after{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 100%; height: 110px; border-radius: 20px; background: #0BC890;}

.content2 > section > div > ul:last-of-type > li:first-child:after{background: #0BC890;}
.content2 > section > div > ul:last-of-type > li:nth-child(2):after{border: 1px solid #ddd; background: #F3FFF1;}
.content2 > section > div > ul:last-of-type > li:last-child:after{background: #8D8D8D;}


/* content3 */
.content3 > section{position: relative; background: linear-gradient(180deg, #F3FFF1 0%, #0BC890 100%); color: #000; z-index: 1;}
.content3 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/webDesign_con3_img3.png)no-repeat 0 50%; z-index: -1;}

.content3 > section > div{position: relative;  width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 145px 0 0;}
.content3 > section > div::after{content: ""; position: absolute; left: 0; top: 0; width: 843px; height: 925px; background: url(../images/webDesign_con3_img1.png)no-repeat 0 0; margin-top: 110px;}

.content3 > section > div > div{position: absolute; right: 145px; bottom: 140px; width: 562px; padding-top: 428px;}
.content3 > section > div > div::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 428px; background: url(../images/webDesign_con3_img2.png)no-repeat 0 0; background-size: 90%;}
.content3 > section > div > div >h4{margin-bottom: 39px;}
.content3 > section > div > div > p{padding-bottom: 39px; border-bottom: 1px solid #000; margin-bottom: 39px;}

.content3 > section > div > div > ul{ display: flex; justify-content: flex-start;}
.content3 > section > div > div > ul > li{flex: 1;}
.content3 > section > div > div > ul > li > p{font-size: 17px; font-weight: 700;}
.content3 > section > div > div > ul > li > p > span{margin-left: 19px;}


/* content4 */
.content4 > section{position: relative; background: #0BC890; color: #000; z-index: 1;}
.content4 > section::after{content: ""; position: absolute; right: 0; bottom: 0; width: 287px; height: 546px; background: url(../images/webDesign_con4_img3.png)no-repeat 0 0; z-index: -2;}
.content4 > section::before{content: ""; position: absolute; right: 0; bottom: 0; width: 1045px; height: 1080px; background: url(../images/webDesign_con4_img2.png)no-repeat 0 0; z-index: -1;}

.content4 > section > div{position: relative; width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 145px 0 0;}
.content4 > section > div::after{content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 1122px; height: 902px; background: url(../images/webDesign_con4_img1.png)no-repeat 0 0;}

.content4 > section > div > h4{margin-bottom: 60px;}
.content4 > section > div > p{width: 300px;}

.content4 > section > div > ul{position: absolute; left: 0; bottom: 186px;}
.content4 > section > div > ul > li{width: 269px; height: 60px; border-radius: 50px; border: 1px solid #000; background: #FFF; }
.content4 > section > div > ul > li > a{display: block; width: 100%; height: 100%; font-size: 18px; font-weight: 700; text-align: center; color: #000; line-height: 60px;}

.content4 > section > div > ul > li:first-child{background: #000; margin-bottom: 22px;}
.content4 > section > div > ul > li:first-child > a{color: #fff;}


/* content5 */
.content5 > section{position: relative; background: #0BC890; color: #000; z-index: 1;}
.content5 > section::after{content: ""; position: absolute; right: 0; top: 0; width: 287px; height: 852px; background: url(../images/webDesign_con5_img3.png)no-repeat 0 0; z-index: -2;}

.content5 > section > div{position: relative; width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 145px 0 0;}
.content5 > section > div::after{content: ""; position: absolute; left: 0; top: 0; width: 1138px; height: 100%; background: url(../images/webDesign_con5_img1.png)no-repeat 0 10%;}

.content5 > section > div > div:first-child{position: absolute; right: 145px; top: 120px;}
.content5 > section > div > div:first-child > p{width: 272px; margin-top: 69px;}

.content5 > section > div > div:last-child{position: absolute; right: 145px; bottom: 160px; width: 707px; height: 352px;border-radius: 50px; z-index: 2; box-shadow: 10px -5px 10px 0px rgba(0, 0, 0, 0.10);}
.content5 > section > div > div:last-child >img{object-fit: contain; margin-top: -15px;}


/* content6 */
.content6 > section{position: relative; background: linear-gradient(180deg, #0BC890 0%, #F3FFF1 100%); color: #000; z-index: 1;}
.content6 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 371px; height: 1080px; background: url(../images/webDesign_con6_img2.png)no-repeat 0 0; z-index: -2;}
.content6 > section::before{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 1169px; height: 798px; background: url(../images/webDesign_con6_img1.png)no-repeat 50% 80%; z-index: -1; background-size: 80%;}


/* footer */
.footer_inner > p.copyright{position: absolute; left: 20px; bottom: 50%; transform: translateY(50%); color: #fff; font-size: 14px;}
.footer_inner > div{width: 243px; height: 51px; margin: 0 auto; padding-top: 19px; vertical-align: middle;}
.footer_inner > ul{position: absolute; right: 20px; bottom: 50%; transform: translateY(50%); z-index: 50;}
.footer_inner > ul > li{position: relative; width: 213px; height: 39px; border-radius: 50px; border: 1px solid #FFF; background: transparent;}
.footer_inner > ul > li.on{background: #fff;}
.footer_inner > ul > li > a{display: block; width: 100%; height: 100%; color: #fff; line-height: 39px; margin-right: 30px; text-align: right; border-radius: 50px; box-sizing: border-box; padding-right:30px;}
.footer_inner > ul > li.on > a{color: #000;}

.footer_inner > ul > li > ul{position: absolute; left: 0; bottom: 37px; width: 100%; background: rgba(255, 255, 255, 0.50); border-radius: 20px; border: 2px solid #FFF; backdrop-filter: blur(4px); box-sizing: border-box; transform: translateY(-100px); opacity: 0; transition: opacity 1s ease 0s, transform 1s ease 0s;}
.footer_inner > ul > li.on > ul{opacity: 1; transform: translateY(0);}

.footer_inner > ul > li > ul > li{width: 100%; padding: 8px 0; border-top: 1px solid #fff; box-sizing: border-box; text-indent: 30px;}
.footer_inner > ul > li > ul > li:first-child{padding-top: 18px; border-top: none;}
.footer_inner > ul > li > ul > li:nth-child(3){padding-bottom: 0;}
.footer_inner > ul > li > ul > li:last-child{padding-bottom: 35px;}
.footer_inner > ul > li > ul > li > a{color: #000; font-size: 16px; font-weight: 700;}

.footer_inner > ul > li > ul > li > ul{width: 100%; background: rgba(255, 255, 255, 0.50); margin-top: 8px;}
.footer_inner > ul > li > ul > li > ul > li{padding: 8px 20px;}



/* quickMenu */
.quickMenu{display: block; position: fixed; left: 0; bottom: 53px; width: 100%; height: 22px; z-index: 30;}
.quickMenu.close{display: none;}
.quickMenu > ul{width: 1720px; margin: 0 auto; display: flex; justify-content: flex-start;}
.quickMenu > ul > li:not(:last-of-type){width: 10px; height: 10px; border-radius: 50%; border: 1px solid #fff; background-color: transparent; text-indent: -9999px; overflow: hidden; margin-top: 2px; margin-right: 21px; cursor: pointer;}
.quickMenu.white > ul > li:not(:last-of-type){border: 1px solid #000;}

.quickMenu > ul > li:not(:last-of-type).on{border: 1px solid transparent; background-color: #fff;}
.quickMenu > ul > li:not(:last-of-type).white{border: 1px solid transparent; background-color: #000;}

.quickMenu > ul > li:last-of-type > p > span{font-size: 16px; line-height: 1;}
.quickMenu > ul > li:last-of-type > p > span:first-child{font-weight: 700; color: #fff;}
.quickMenu.white > ul > li:last-of-type > p > span:first-child{color: #000;}
.quickMenu > ul > li:last-of-type > p:last-child{ font-weight: 500; color: rgba(255, 255, 255, 0.70);}
.quickMenu.white > ul > li:last-of-type > p:last-child{color: rgba(0, 0, 0, 0.70);}


/* btn_down */
.btn_down{position: fixed; right: 97px; bottom: 63px; width: 202px; height: 203px; z-index: 40; transition: bottom 0.5s linear 0s;}
.btn_down.ab{bottom: 130px;}
.btn_down::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/scrolldown_white.png)no-repeat 0 0; animation: btn_downAni 10s linear 0s infinite; z-index: -1;}
@keyframes btn_downAni{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

.btn_down.on::after{background: url(../images/scrolldown_black.png)no-repeat 0 0;}

.btn_down > a{display: block; position: absolute; left: 50%; top: 50%; width: 65px; height: 65px; background: url(../images/scrolldown_arrow_white.png)no-repeat 50% 0; transform: translate(-50%, -50%);}

.btn_down.on > a{background: url(../images/scrolldown_arrow_black.png)no-repeat 50% 0;}