/* sub1.css */

/* Mobile 크기 0~768 */
@media screen and (max-width:768px){


/* content1 */
.content1 > section{width: 100%; background-blend-mode: multiply; overflow: hidden; background: rgba(0, 45, 31, 0.50) url(../images/melon_bg.jpg)no-repeat 50% 0;  background-size: cover; margin: 0 auto;}
.content1 > section > div{position: relative; width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 250px 0 0 7%;}

.content1 > section > div > h3{font-size: 16px; font-weight: 700; line-height: 20px; text-decoration-line: underline; margin-bottom: 31px;}
.content1 > section > div > h4{font-size: 70px; font-weight: 700;}
.content1 > section > div > p{font-size: 18px; font-weight: 400; line-height: 26px; margin-top: 40px;}

.content1 > section > div > ul{position: absolute; left: 0; bottom: 125px; width: 100%; display: flex; justify-content: space-between; box-sizing: border-box;  padding: 0 40% 0 0;}
.content1 > section > div > ul > li{flex: 1; margin-right: 22px; text-align: center; font-size: 18px; padding-bottom: 39px; border-bottom: 1px solid #fff; transform: translateY(0); opacity: 0.7; transition: transform 0.3s linear 0s, opacity 0.3s linear 0s;}
.content1 > section > div > ul > li:last-child{margin-right: 0;}
.content1 > section > div > ul > li:hover{transform: translateY(-10px); opacity: 1;}

/* content 전체 글씨 */
section h4{font-size: 24px; font-weight: 700; line-height: 30px; text-transform: uppercase;}
section p:first-of-type{font-size: 15px; font-weight: 400; line-height: 25px; word-break: keep-all;}

/* content2 */
.content2 > section{position: relative; background: linear-gradient(180deg, rgba(243, 255, 241, 0.00) 0%, #F3FFF1 100%); color: #000;}
.content2 > section::after{content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 80%; height: 80%; background: url(../images/webDesign_con1_img.png)no-repeat 92% 87%; background-size: contain;}
.content2 > section > div{position: relative; width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0 7%;}

.content2 > section > div > h4{display: inline-block; vertical-align: top; margin-right: 36px; transform: translateX(0);}
.content2 > section > div > p{display: inline-block; width: 409px;}

.content2 > section > div > ul:first-of-type{width: 100%; height: 140px; margin: 30px 0 50px; display: flex; justify-content: center;}
.content2 > section > div > ul:first-of-type::after{content: ""; position: relative; clear: both;}
.content2 > section > div > ul:first-of-type > li{width: 155px; height: 155px; border-radius: 50%; text-align: center; font-size: 18px; font-weight: 400; line-height: 26px; text-transform: uppercase; color: #7D7D7D; padding-top: 50px; box-sizing: border-box;}
.content2 > section > div > ul:first-of-type > li:first-child{background: rgba(11, 200, 144, 0.40);}
.content2 > section > div > ul:first-of-type > li:nth-child(2){background: rgba(255, 255, 255, 0.80); transform: translateX(-15px);}
.content2 > section > div > ul:first-of-type > li:last-child{background: rgba(141, 141, 141, 0.30); transform: translateX(-15px);}
.content2 > section > div > ul:first-of-type > li > p > strong{font-size: 20px; font-weight: 700;}

.content2 > section > div > ul:last-of-type{position: relative; clear: both; width: 100%; display: flex; justify-content: center;}

.content2 > section > div > ul:last-of-type > li{position: relative; width: 88px; text-align: center; font-size: 17px; font-weight: 400; line-height: 25px; padding-top: 116px; margin-right: 25px;}
.content2 > section > div > ul:last-of-type > li:last-child{margin-right: 0;}
.content2 > section > div > ul:last-of-type > li::after{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 100%; height: 88px; border-radius: 20px; background: #0BC890;}

.content2 > section > div > ul:last-of-type > li:first-child:after{background: #0BC890;}
.content2 > section > div > ul:last-of-type > li:nth-child(2):after{border: 1px solid #ddd; background: #F3FFF1;}
.content2 > section > div > ul:last-of-type > li:last-child:after{background: #8D8D8D;}


/* content3 */
.content3 > section{position: relative; background: linear-gradient(180deg, #F3FFF1 0%, #0BC890 100%); color: #000; z-index: 1;}
.content3 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/webDesign_con3_img3.png)no-repeat 70% 100%; z-index: -1;}

.content3 > section > div{position: relative;  width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 7% 0 7%;}
.content3 > section > div::after{content: ""; display: none;}

.content3 > section > div > div{position: relative; margin: 0 auto; width: 100%; padding-top: 380px;}
.content3 > section > div > div::after{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 430px; height: 337px; background: url(../images/webDesign_con3_img2.png)no-repeat 0 0; background-size: contain;}
.content3 > section > div > div >h4{margin-bottom: 39px;}
.content3 > section > div > div > p{padding-bottom: 39px; border-bottom: 1px solid #000; margin-bottom: 39px;}

.content3 > section > div > div > ul{ display: flex; justify-content: flex-start;}
.content3 > section > div > div > ul > li{width: 150px;}
.content3 > section > div > div > ul > li > p{font-size: 17px; font-weight: 700;}
.content3 > section > div > div > ul > li > p > span{margin-left: 19px;}


/* content4 */
.content4 > section{position: relative; background: #0BC890; color: #000; z-index: 1;}
.content4 > section::after{display: none;}
.content4 > section::before{content: ""; display: none;}

.content4 > section > div{position: relative; width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 145px 0 0;}
.content4 > section > div::after{content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-30%); width: 1122px; height: 902px; background: url(../images/webDesign_con4_img1.png)no-repeat 0 0; z-index: -1;}

.content4 > section > div > h4{margin-bottom: 60px;}
.content4 > section > div > p{width: 300px;}

.content4 > section > div > ul{position: absolute; left: 0; bottom: 186px;}
.content4 > section > div > ul > li{width: 230px; height: 60px; border-radius: 50px; border: 1px solid #000; background: #FFF; }
.content4 > section > div > ul > li > a{display: block; width: 100%; height: 100%; font-size: 18px; font-weight: 700; text-align: center; color: #000; line-height: 60px;}

.content4 > section > div > ul > li:first-child{background: #000; margin-bottom: 22px;}
.content4 > section > div > ul > li:first-child > a{color: #fff;}


/* content5 */
.content5 > section{position: relative; background: #0BC890; color: #000; z-index: 1;}
.content5 > section::after{content: ""; position: absolute; right: 0; top: 0; width: 287px; height: 852px; background: url(../images/webDesign_con5_img3.png)no-repeat 0 0; z-index: -2;}

.content5 > section > div{position: relative; width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0 0;}
.content5 > section > div::after{content: ""; position: absolute; left: 0; top: 0; transform: translateX(-40%); width: 850px; height: 105%; background: url(../images/webDesign_con5_img1.png)no-repeat 0 -11px; background-size: cover; z-index: -1;}

.content5 > section > div > div:first-child{position: absolute; right: 0; top: 120px;}
.content5 > section > div > div:first-child > p{width: 272px; margin-top: 69px;}

.content5 > section > div > div:last-child{position: absolute; right: 0; bottom: 300px; width: 438px; height: 218px;border-radius: 50px; z-index: 2; box-shadow: 10px -5px 10px 0px rgba(0, 0, 0, 0.10);}
.content5 > section > div > div:last-child >img{object-fit: cover; margin-top: -7px; height: 230px;}


/* content6 */
.content6 > section{position: relative; background: linear-gradient(180deg, #0BC890 0%, #F3FFF1 100%); color: #000; z-index: 1;}
.content6 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 371px; height: 1080px; background: url(../images/webDesign_con6_img2.png)no-repeat 0 0; z-index: -2;}
.content6 > section::before{content: ""; position: absolute; left: 50%; top: 5%; transform: translateX(-40%); width: 735px; height: 784px; background: url(../images/mob_webDesign_con6_img1.png)no-repeat 0 80%; z-index: -1; background-size: 95%;}



}

/* Pc 크기 769~최대 */
@media screen and (min-width:769px){


/* content1 */
.content1 > section{width: 100%; background-blend-mode: multiply; overflow: hidden; background: rgba(0, 45, 31, 0.50) url(../images/melon_bg.jpg)no-repeat 50% 0;  background-size: cover; margin: 0 auto;}
.content1 > section > div{width: 1720px; margin: 0 auto; box-sizing: border-box;  padding: 250px 292px 0 146px;}

.content1 > section > div > h3{font-size: 16px; font-weight: 700; line-height: 20px; text-decoration-line: underline; margin-bottom: 31px;}
.content1 > section > div > h4{font-size: 70px; font-weight: 700;}
.content1 > section > div > p{font-size: 18px; font-weight: 400; line-height: 26px; margin-top: 40px;}

.content1 > section > div > ul{position: absolute; left: 0; bottom: 125px; width: 100%; display: flex; justify-content: space-between; box-sizing: border-box;  padding: 0 390px 0 245px;}
.content1 > section > div > ul > li{flex: 1; margin-right: 22px; text-align: center; font-size: 18px; padding-bottom: 39px; border-bottom: 1px solid #fff; transform: translateY(0); opacity: 0.7; transition: transform 0.3s linear 0s, opacity 0.3s linear 0s;}
.content1 > section > div > ul > li:last-child{margin-right: 0;}
.content1 > section > div > ul > li:hover{transform: translateY(-10px); opacity: 1;}

/* content 전체 글씨 */
section h4{font-size: 24px; font-weight: 700; line-height: 30px; text-transform: uppercase;}
section p:first-of-type{font-size: 15px; font-weight: 400; line-height: 25px; word-break: keep-all;}

/* content2 */
.content2 > section{position: relative; background: linear-gradient(180deg, rgba(243, 255, 241, 0.00) 0%, #F3FFF1 100%); color: #000;}
.content2 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/webDesign_con1_img.png)no-repeat 92% 50%; }
.content2 > section > div{width: 1720px; margin: 0 auto; box-sizing: border-box;  padding: 120px 292px 0 146px;}

.content2 > section > div > h4{display: inline-block; vertical-align: top; margin-right: 36px; transform: translateX(-100px);}
.content2 > section > div > p{display: inline-block; width: 556px;}

.content2 > section > div > ul:first-of-type{position: relative; clear: both; height: 248px; margin: 115px 0 79px;}
.content2 > section > div > ul:first-of-type::after{content: ""; position: relative; clear: both;}
.content2 > section > div > ul:first-of-type > li{float: left; width: 248px; height: 248px; border-radius: 50%; text-align: center; font-size: 18px; font-weight: 400; line-height: 26px; text-transform: uppercase; color: #7D7D7D; padding-top: 97px; box-sizing: border-box;}
.content2 > section > div > ul:first-of-type > li:first-child{background: rgba(11, 200, 144, 0.40);}
.content2 > section > div > ul:first-of-type > li:nth-child(2){background: rgba(255, 255, 255, 0.80); transform: translateX(-28px);}
.content2 > section > div > ul:first-of-type > li:last-child{background: rgba(141, 141, 141, 0.30); transform: translateX(-56px);}
.content2 > section > div > ul:first-of-type > li > p > strong{font-size: 20px; font-weight: 700;}

.content2 > section > div > ul:last-of-type{position: relative; clear: both; width: 700px; display: flex; justify-content: center;}

.content2 > section > div > ul:last-of-type > li{position: relative; width: 110px; text-align: center; font-size: 17px; font-weight: 400; line-height: 25px; padding-top: 141px; margin-right: 36px;}
.content2 > section > div > ul:last-of-type > li:last-child{margin-right: 0;}
.content2 > section > div > ul:last-of-type > li::after{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 100%; height: 110px; border-radius: 20px; background: #0BC890;}

.content2 > section > div > ul:last-of-type > li:first-child:after{background: #0BC890;}
.content2 > section > div > ul:last-of-type > li:nth-child(2):after{border: 1px solid #ddd; background: #F3FFF1;}
.content2 > section > div > ul:last-of-type > li:last-child:after{background: #8D8D8D;}


/* content3 */
.content3 > section{position: relative; background: linear-gradient(180deg, #F3FFF1 0%, #0BC890 100%); color: #000; z-index: 1;}
.content3 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/webDesign_con3_img3.png)no-repeat 0 50%; z-index: -1;}

.content3 > section > div{position: relative;  width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 145px 0 0;}
.content3 > section > div::after{content: ""; position: absolute; left: 0; top: 0; width: 843px; height: 925px; background: url(../images/webDesign_con3_img1.png)no-repeat 0 0; margin-top: 110px;}

.content3 > section > div > div{position: absolute; right: 145px; bottom: 140px; width: 562px; padding-top: 428px;}
.content3 > section > div > div::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 428px; background: url(../images/webDesign_con3_img2.png)no-repeat 0 0; background-size: 90%;}
.content3 > section > div > div >h4{margin-bottom: 39px;}
.content3 > section > div > div > p{padding-bottom: 39px; border-bottom: 1px solid #000; margin-bottom: 39px;}

.content3 > section > div > div > ul{ display: flex; justify-content: flex-start;}
.content3 > section > div > div > ul > li{flex: 1;}
.content3 > section > div > div > ul > li > p{font-size: 17px; font-weight: 700;}
.content3 > section > div > div > ul > li > p > span{margin-left: 19px;}


/* content4 */
.content4 > section{position: relative; background: #0BC890; color: #000; z-index: 1;}
.content4 > section::after{content: ""; position: absolute; right: 0; bottom: 0; width: 287px; height: 546px; background: url(../images/webDesign_con4_img3.png)no-repeat 0 0; z-index: -2;}
.content4 > section::before{content: ""; position: absolute; right: 0; bottom: 0; width: 1045px; height: 1080px; background: url(../images/webDesign_con4_img2.png)no-repeat 0 0; z-index: -1;}

.content4 > section > div{position: relative; width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 145px 0 0;}
.content4 > section > div::after{content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 1122px; height: 902px; background: url(../images/webDesign_con4_img1.png)no-repeat 0 0;}

.content4 > section > div > h4{margin-bottom: 60px;}
.content4 > section > div > p{width: 300px;}

.content4 > section > div > ul{position: absolute; left: 0; bottom: 186px;}
.content4 > section > div > ul > li{width: 269px; height: 60px; border-radius: 50px; border: 1px solid #000; background: #FFF; }
.content4 > section > div > ul > li > a{display: block; width: 100%; height: 100%; font-size: 18px; font-weight: 700; text-align: center; color: #000; line-height: 60px;}

.content4 > section > div > ul > li:first-child{background: #000; margin-bottom: 22px;}
.content4 > section > div > ul > li:first-child > a{color: #fff;}


/* content5 */
.content5 > section{position: relative; background: #0BC890; color: #000; z-index: 1;}
.content5 > section::after{content: ""; position: absolute; right: 0; top: 0; width: 287px; height: 852px; background: url(../images/webDesign_con5_img3.png)no-repeat 0 0; z-index: -2;}

.content5 > section > div{position: relative; width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 145px 0 0;}
.content5 > section > div::after{content: ""; position: absolute; left: 0; top: 0; width: 1138px; height: 100%; background: url(../images/webDesign_con5_img1.png)no-repeat 0 10%;}

.content5 > section > div > div:first-child{position: absolute; right: 145px; top: 120px;}
.content5 > section > div > div:first-child > p{width: 272px; margin-top: 69px;}

.content5 > section > div > div:last-child{position: absolute; right: 145px; bottom: 160px; width: 707px; height: 352px;border-radius: 50px; z-index: 2; box-shadow: 10px -5px 10px 0px rgba(0, 0, 0, 0.10);}
.content5 > section > div > div:last-child >img{object-fit: contain; margin-top: -15px;}


/* content6 */
.content6 > section{position: relative; background: linear-gradient(180deg, #0BC890 0%, #F3FFF1 100%); color: #000; z-index: 1;}
.content6 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 371px; height: 1080px; background: url(../images/webDesign_con6_img2.png)no-repeat 0 0; z-index: -2;}
.content6 > section::before{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 1169px; height: 798px; background: url(../images/webDesign_con6_img1.png)no-repeat 50% 80%; z-index: -1; background-size: 80%;}



}

