/* sub2.css */


/* Mobile 크기 0~768 */
@media screen and (max-width:768px){

/* content1 */
.content1 > section{position: relative; width: 100%; height: 100%; overflow: hidden; background: url(../images/application_con1_img3.png)no-repeat 100% 0;  background-size: cover; margin: 0 auto;}
.content1 > section::after{content: ""; position: absolute; left: 0; top: 0; transform: translateX(-40%); width: 1624px; height: 100%; background: url(../images/application_con1_img2.png)no-repeat 0 0; z-index: -1;}



.content1 > section > div:first-child{ width: 87%; margin: 0 auto;height: 100%; box-sizing: border-box;  padding-top: 300px;}
.content1 > section > div:first-child::after{content: ""; position: relative; clear: both;}

.content1 > section > div:first-child > div{position: relative; text-align: right; padding-top: 191px; padding-right: 0; box-sizing: border-box;}
.content1 > section > div:first-child > div::after{content: ""; position: absolute; right: 0; top: 0; width: 150px; height: 191px; background: url(../images/application_con1_img1.png)no-repeat 0 0; background-size: contain;}
.content1 > section > div:first-child > div > p:first-of-type{font-size: 20px; font-weight: 700; color: #000;}
.content1 > section > div:first-child > div > h3{font-size: 60px; color: #FE8536; font-weight: 700;}
.content1 > section > div:first-child > div > p:last-of-type{font-size: 15px; font-weight: 400; color: #949296;}

.content1 > section > div.section1_bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(85, 37, 5, 0.55); background-blend-mode: multiply;}


.content1 > section > div:last-child{position: relative; width: 87%; margin: 0 auto;}
.content1 > section > div:last-child > ul{position: absolute; left: 0; bottom: 125px; width: 100%; display: flex; justify-content: space-between; box-sizing: border-box;  padding: 0 40% 0 0;}
.content1 > section > div:last-child > ul > li{flex: 1; margin-right: 22px; text-align: center; font-size: 18px; padding-bottom: 39px; border-bottom: 1px solid #fff; transform: translateY(0); opacity: 0.7; transition: transform 0.3s linear 0s, opacity 0.3s linear 0s; color: #fff;}
.content1 > section > div:last-child > ul > li:last-child{margin-right: 0;}
.content1 > section > div:last-child > ul > li:hover{transform: translateY(-10px); opacity: 1;}


/* content 전체 글씨 */
section h4{position: relative; font-size: 24px; font-weight: 700; text-transform: uppercase; color: #FE8536; margin-bottom: 33px; padding-left: 39px;}
section h4::after{content: ""; position: absolute; left: 0; top: 0; width: 27.32px; height: 37.158px; background: url(../images/application_logo.png);}
section p:first-of-type{font-size: 17px; font-weight: 400; line-height: 34px; color: #666; margin-left: 39px; word-break: keep-all;}


/* content2 */
.content2 > section{position: relative; width: 100%; height: 100%; color: #000; z-index: 1;}
.content2 > section::after{content: ""; position: absolute; left: 10%; bottom: -80px; width: 700px; height: 627px; background: url(../images/application_con2_img2.png)no-repeat 0 0; background-size: cover; z-index: -1;}
.content2 > section::before{content: ""; position: absolute; right: 0; top: 0; transform: translateX(50%); width: 950px; height: 974px; background: url(../images/application_con2_img3.png)no-repeat 0 0; z-index: -2;}


.content2 > section > div{position: relative; width: 87%; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0 0;}
.content2 > section > div > p{position: relative; width: 504px; padding-bottom: 450px;}
.content2 > section > div > p::after{content: ""; display: none;}

.content2 > section > div > ul{position: absolute; right: 0; bottom: 50%; transform: translateY(100%);}
.content2 > section > div > ul > li{width: 230px; height: 60px; border-radius: 50px; border: 1px solid #000; background: #000; }
.content2 > section > div > ul > li > a{display: block; width: 100%; height: 100%; font-size: 18px; font-weight: 700; text-align: center; color: #fff; line-height: 60px;}


/* content3 */
.content3 > section{position: relative; width: 100%; height: 100%; color: #000; z-index: 1;}
.content3 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 993px; height: 472px; background: url(../images/application_con3_img1.png)no-repeat 0 0; background-size: cover; z-index: -1;}
.content3 > section::before{content: ""; display: none;}


.content3 > section > div{position: relative; width: 87%; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0;}
.content3 > section > div > ul{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.content3 > section > div > ul > li{width: 100%;  margin-bottom: 50px; padding-right: 50px;}
.content3 > section > div > ul > li:nth-child(odd){width: 100%; margin-right: 0;}

.content3 > section > div > ul > li > h4{position: relative; width: 200px; cursor: pointer;}
.content3 > section > div > ul > li > h4::before{content: ""; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 22px; height: 12px; background: url(../images/mob_application_con3_btn.png)no-repeat 0 0;}
.content3 > section > div > ul > li > h4.on::before{transform: rotateX(180deg) translateY(50%);}

.content3 > section > div > ul > li:first-child > p{display: none;}
.content3 > section > div > ul > li:first-child > p.on{display: block;}

.content3 > section > div > ul > li:nth-child(2).on{padding-bottom: 250px;}
.content3 > section > div > ul > li:nth-child(3) > ul > li{display: none;}
.content3 > section > div > ul > li:nth-child(3) > ul > li.on{display: block;}
.content3 > section > div > ul > li:last-child > dl{display: none;}
.content3 > section > div > ul > li:last-child > dl.on{display: block;}


.content3 > section > div > ul > li:nth-child(2){position: relative; padding-bottom: 0px; overflow: hidden;}
.content3 > section > div > ul > li:nth-child(2)::after{content: ""; position: absolute; left: 0; top: 70px; width: 407px; height: 219px; background: url(../images/application_con3_img3.png)no-repeat 0 0; margin-left: 39px; overflow: hidden; z-index: 2;}

.content3 > section > div > ul > li:nth-child(3) > ul{ margin-left: 39px; width: 100%; display: flex; justify-content: center;}
.content3 > section > div > ul > li:nth-child(3) > ul > li{position: relative; flex: 1; margin-right: 20px; text-align: center; font-size: 17px; font-weight: 400; color: #666; padding-top: 220px;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:last-child{margin-right: 0;}

.content3 > section > div > ul > li:nth-child(3) > ul > li::after{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 200px; height: 200px; border-radius: 50%; background: #FE8536;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:first-child:after{background: #FE8536;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:nth-child(2):after{background: #FDC79A;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:last-child:after{background: #29A261;}


.content3 > section > div > ul > li:nth-child(4) > dl{margin-left: 39px; font-family: 'Noto Sans KR', sans-serif;}
.content3 > section > div > ul > li:nth-child(4) > dl::after{content: ""; position: relative; clear: both;}
.content3 > section > div > ul > li:nth-child(4) > dl > dt{float: left; height: 200px; font-size: 25px; font-weight: 700; color: #666; margin-right: 90px;}

.content3 > section > div > ul > li:nth-child(4) > dl > dd{font-size: 16px; color: #000; margin: 8px 0;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:first-of-type{font-weight: 300; padding-top: 8px;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:nth-of-type(2){font-weight: 400;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:nth-of-type(3){font-weight: 700;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:last-of-type{font-weight: 900;}


/* content4 */
.content4 > section{position: relative; width: 100%; height: 100%; color: #000; background: url(../images/application_con4_img1.png)no-repeat 50% 0; z-index: 1;}
.content4 > section::after{content: ""; position: absolute; left: 0; bottom: 0; width: 425px; height: 511px; background: url(../images/application_con4_img2.png)no-repeat 0 100%; background-size: contain; z-index: -1;}
.content4 > section::before{content: ""; position: absolute; right: 0; top: 0; width: 695px; height: 352px; background: url(../images/application_con4_img3.png)no-repeat 100% 0; background-size: contain; z-index: -2;}

.content4 > section > div{position: relative; width: 87%; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0 0;}
.content4 > section > div::after{content: ""; position: relative; clear: both;}

.content4 > section > div > div{width: 300px; margin-bottom: 25px;}
.content4 > section > div > div h4{margin-bottom: 15px;}
.content4 > section > div > div p{font-size: 15px; line-height: 25px;}

.content4 > section > div > div:nth-child(2){ margin: 0 auto 25px;}
.content4 > section > div > div:nth-child(2) > h4{position: relative;}
.content4 > section > div > div:nth-child(2) > h4::before{content: ""; position: absolute; transform: scale(-1); right: -120px; top: -150px; width: 200px; height: 167px; background: url(../images/application_con4_line2.png)no-repeat 0 0;}

.content4 > section > div > div:nth-child(3){float:right;}
.content4 > section > div > div:nth-child(3) > h4{position: relative;}
.content4 > section > div > div:nth-child(3) > h4::before{content: ""; position: absolute; left: -300px; top: 50%; width: 267px; height: 167px; background: url(../images/application_con4_line2.png)no-repeat 0 0;}


/* content5 */
.content5 > section{position: relative; width: 100%; height: 100%; color: #000; background: linear-gradient(0deg, rgba(253, 199, 154, 0.00) 0%, #FFE8D8 100%); z-index: 1;}

.content5 > section > div{position: relative; clear: both; width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 7% 0 7%;}
.content5 > section > div::after{content: ""; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); width: 552px; height: 536px; background: url(../images/application_con5_img1.png)no-repeat 0 0; background-size: cover; z-index: -1;}

.content5 > section > div > div{position: relative; float: right; width: 100%; padding-bottom: 450px;}
.content5 > section > div > div::after{content: ""; display: none;}


/* content6 */
.content6 > section{position: relative; width: 100%; height: 100%; color: #000; background: linear-gradient(0deg, #FFE8D8 0%, rgba(253, 199, 154, 0.00) 100%); z-index: 1;}
.content6 > section::after{content: ""; position: absolute; left: 50%; bottom: 20px; transform: translateX(-40%); width: 700px; height: 578px; background: url(../images/application_con6_img1.png)no-repeat 0 0; background-size: cover; z-index: -1;}

.content6 > section > div{position: relative; clear: both; width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 7% 0 ;}

.content6 > section > div > div{position: relative; width: 100%; padding-top: 0;}
.content6 > section > div > div::after{content: ""; display: none;}


/* content7 */
.content7 > section{position: relative; width: 100%; height: 100%; color: #000; background:#FFE8D8; z-index: 1;}
.content7 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/application_con7_img3.png)no-repeat 0 0; z-index: -2;}

.content7 > section > div{position: relative; clear: both; width: 87%; height: 100%; margin: 0 auto; padding: 120px 7% 0; box-sizing: border-box;}
.content7 > section > div::after{content: ""; position: absolute; left: -5%; bottom: 80px; width: 1134px; height: 579px; background: url(../images/application_con7_img2.png)no-repeat 0 0; background-size: contain; z-index: -1;}

.content7 > section > div > div{position: relative; float: right; width: 100%; padding-bottom: 470px;}
.content7 > section > div > div::after{content: ""; display: none;}


/* content8 */
.content8 > section{position: relative; width: 100%; height: 100%; color: #000; background:#FFE8D8; z-index: 1;}
.content8 > section::after{content: ""; position: absolute; left: 0; bottom: 0;transform: translateX(-15%); width: 1059px; height: 810px; background: url(../images/application_con8_img1.png)no-repeat 0 0; background-size:contain; z-index: -1;}
.content8 > section::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/application_con8_img2.png)no-repeat 80% 0; z-index: -2;}

.content8 > section > div{position: relative; clear: both; width: 87%; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0 7%;}

.content8 > section > div > div{position: relative; width: 50%; padding-bottom: 482px;}
.content8 > section > div > div::after{content: ""; display: none;}


/* content9 */
.content9 > section{position: relative; width: 100%; height: 100%; color: #000; background: linear-gradient(0deg, #FFE8D8 0%, rgba(253, 199, 154, 0.00) 100%); z-index: 1;}
.content9 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/application_con9_img1.png)no-repeat 0 0; z-index: -1;}
.content9 > section::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(85, 37, 5, 0.55); background-blend-mode: multiply;}


}

/* Pc 크기 769~최대 */
@media screen and (min-width:769px){

/* content1 */
.content1 > section{position: relative; width: 100%; height: 100%; overflow: hidden; background: url(../images/application_con1_img3.png)no-repeat 50% 0;  background-size: cover; margin: 0 auto;}
.content1 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 1624px; height: 100%; background: url(../images/application_con1_img2.png)no-repeat 0 0; z-index: -1;}



.content1 > section > div:first-child{ width: 1720px; margin: 0 auto;height: 100%; box-sizing: border-box;  padding-top: 250px;}
.content1 > section > div:first-child::after{content: ""; position: relative; clear: both;}

.content1 > section > div:first-child > div{position: relative; text-align: right; padding-top: 241px; padding-right: 146px; box-sizing: border-box;}
.content1 > section > div:first-child > div::after{content: ""; position: absolute; right: 146px; top: 0; width: 200px; height: 241px; background: url(../images/application_con1_img1.png)no-repeat 0 0;}
.content1 > section > div:first-child > div > p:first-of-type{font-size: 20px; font-weight: 700; color: #000;}
.content1 > section > div:first-child > div > h3{font-size: 60px; color: #FE8536; font-weight: 700;}
.content1 > section > div:first-child > div > p:last-of-type{font-size: 15px; font-weight: 400; color: #949296;}

.content1 > section > div.section1_bg{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(85, 37, 5, 0.55); background-blend-mode: multiply;}


.content1 > section > div:last-child > ul{position: absolute; left: 0; bottom: 125px; width: 100%; display: flex; justify-content: space-between; box-sizing: border-box;  padding: 0 390px 0 245px;}
.content1 > section > div:last-child > ul > li{flex: 1; margin-right: 22px; text-align: center; font-size: 18px; padding-bottom: 39px; border-bottom: 1px solid #fff; transform: translateY(0); opacity: 0.7; transition: transform 0.3s linear 0s, opacity 0.3s linear 0s; color: #fff;}
.content1 > section > div:last-child > ul > li:last-child{margin-right: 0;}
.content1 > section > div:last-child > ul > li:hover{transform: translateY(-10px); opacity: 1;}


/* content 전체 글씨 */
section h4{position: relative; font-size: 24px; font-weight: 700; text-transform: uppercase; color: #FE8536; margin-bottom: 33px; padding-left: 39px;}
section h4::after{content: ""; position: absolute; left: 0; top: 0; width: 27.32px; height: 37.158px; background: url(../images/application_logo.png);}
section p:first-of-type{font-size: 17px; font-weight: 400; line-height: 34px; color: #666; margin-left: 39px; word-break: keep-all;}


/* content2 */
.content2 > section{position: relative; width: 100%; height: 100%; color: #000; z-index: 1;}
.content2 > section::after{content: ""; position: absolute; right: 0; bottom: 0; width: 900px; height: 827px; background: url(../images/application_con2_img2.png)no-repeat 0 0; background-size: cover; z-index: -1;}
.content2 > section::before{content: ""; position: absolute; right: 0; top: 0; width: 950px; height: 974px; background: url(../images/application_con2_img3.png)no-repeat 92% 50%; z-index: -2;}


.content2 > section > div{position: relative; width: 1720px; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0 146px;}
.content2 > section > div > p{position: relative; width: 504px; padding-bottom: 450px;}
.content2 > section > div > p::after{content: ""; position: absolute; left: 0; bottom: 0; width: 567px; height: 389px; background: url(../images/application_con2_img1.png) no-repeat 0 0; background-size: 90%;}

.content2 > section > div > ul{position: absolute; right: 0; top: 135px;}
.content2 > section > div > ul > li{width: 269px; height: 60px; border-radius: 50px; border: 1px solid #000; background: #000; }
.content2 > section > div > ul > li > a{display: block; width: 100%; height: 100%; font-size: 18px; font-weight: 700; text-align: center; color: #fff; line-height: 60px;}


/* content3 */
.content3 > section{position: relative; width: 100%; height: 100%; color: #000; z-index: 1;}
.content3 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 993px; height: 472px; background: url(../images/application_con3_img1.png)no-repeat 0 0; background-size: cover; z-index: -1;}
.content3 > section::before{content: ""; position: absolute; right: 0; bottom: 0; width: 860px; height: 509px; background: url(../images/application_con3_img2.png)no-repeat 0 0; z-index: -2;}


.content3 > section > div{position: relative; width: 1720px; margin: 0 auto; box-sizing: border-box;  padding: 120px 146px 0;}
.content3 > section > div > ul{display: flex; justify-content: flex-start; flex-wrap: wrap;}
.content3 > section > div > ul > li{width: 563px;}
.content3 > section > div > ul > li:nth-child(odd){width: 703px; margin-right: 162px;}

.content3 > section > div > ul > li:first-child, .content3 > section > div > ul > li:nth-child(2){height: 300px; margin-bottom: 100px;}
.content3 > section > div > ul > li:nth-child(2){position: relative;}
.content3 > section > div > ul > li:nth-child(2)::after{content: ""; position: absolute; left: 0; top: 70px; width: 407px; height: 219px; background: url(../images/application_con3_img3.png)no-repeat 0 0; margin-left: 39px;}

.content3 > section > div > ul > li:nth-child(3) > ul{margin-left: 39px; width: 100%; display: flex; justify-content: center;}
.content3 > section > div > ul > li:nth-child(3) > ul > li{position: relative; flex: 1; margin-right: 20px; text-align: center; font-size: 17px; font-weight: 400; color: #666; padding-top: 220px;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:last-child{margin-right: 0;}

.content3 > section > div > ul > li:nth-child(3) > ul > li::after{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 200px; height: 200px; border-radius: 50%; background: #FE8536;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:first-child:after{background: #FE8536;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:nth-child(2):after{background: #FDC79A;}
.content3 > section > div > ul > li:nth-child(3) > ul > li:last-child:after{background: #29A261;}


.content3 > section > div > ul > li:nth-child(4) > dl{margin-left: 39px; font-family: 'Noto Sans KR', sans-serif;}
.content3 > section > div > ul > li:nth-child(4) > dl::after{content: ""; position: relative; clear: both;}
.content3 > section > div > ul > li:nth-child(4) > dl > dt{float: left; height: 200px; font-size: 25px; font-weight: 700; color: #666; margin-right: 90px;}

.content3 > section > div > ul > li:nth-child(4) > dl > dd{font-size: 16px; color: #000; margin: 8px 0;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:first-of-type{font-weight: 300; padding-top: 8px;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:nth-of-type(2){font-weight: 400;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:nth-of-type(3){font-weight: 700;}
.content3 > section > div > ul > li:nth-child(4) > dl > dd:last-of-type{font-weight: 900;}


/* content4 */
.content4 > section{position: relative; width: 100%; height: 100%; color: #000; background: url(../images/application_con4_img1.png)no-repeat 0 0; z-index: 1;}
.content4 > section::after{content: ""; position: absolute; left: 0; bottom: 0; width: 825px; height: 911px; background: url(../images/application_con4_img2.png)no-repeat 0 0; background-size: cover; z-index: -1;}
.content4 > section::before{content: ""; position: absolute; right: 0; top: 0; width: 1095px; height: 752px; background: url(../images/application_con4_img3.png)no-repeat 0 0; z-index: -2;}

.content4 > section > div{position: relative; width: 1720px; margin: 0 auto; box-sizing: border-box;  padding: 120px 292px 0 146px;}
.content4 > section > div::after{content: ""; position: relative; clear: both;}

.content4 > section > div > div{width: 610px; margin-bottom: 84px;}

.content4 > section > div > div:nth-child(2){ margin: 0 auto 84px;}
.content4 > section > div > div:nth-child(2) > h4{position: relative;}
.content4 > section > div > div:nth-child(2) > h4::before{content: ""; position: absolute; right: -100px; top: 50%; transform: translateY(-50%); width: 488px; height: 12px; background: url(../images/application_con4_line.png)no-repeat 0 0;}

.content4 > section > div > div:nth-child(3){float:right;}
.content4 > section > div > div:nth-child(3) > h4{position: relative;}
.content4 > section > div > div:nth-child(3) > h4::before{content: ""; position: absolute; left: -300px; top: 50%; width: 267px; height: 167px; background: url(../images/application_con4_line2.png)no-repeat 0 0;}


/* content5 */
.content5 > section{position: relative; width: 100%; height: 100%; color: #000; background: linear-gradient(0deg, rgba(253, 199, 154, 0.00) 0%, #FFE8D8 100%); z-index: 1;}

.content5 > section > div{position: relative; clear: both; width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 146px 0 0;}
.content5 > section > div::after{content: ""; position: absolute; left: 0; bottom: 0; width: 852px; height: 836px; background: url(../images/application_con5_img1.png)no-repeat 0 0; background-size: cover; z-index: -1;}

.content5 > section > div > div{position: relative; float: right; width: 580px; padding-bottom: 450px;}
.content5 > section > div > div::after{content: ""; position: absolute; left: 0; bottom: 0; width: 336px; height: 430px; background: url(../images/application_con5_img2.png)no-repeat 0 0; margin-left: 39px;}


/* content6 */
.content6 > section{position: relative; width: 100%; height: 100%; color: #000; background: linear-gradient(0deg, #FFE8D8 0%, rgba(253, 199, 154, 0.00) 100%); z-index: 1;}
.content6 > section::after{content: ""; position: absolute; right: 0; bottom: -30px; width: 1000px; height: 878px; background: url(../images/application_con6_img1.png)no-repeat 0 0; background-size: cover; z-index: -1;}

.content6 > section > div{position: relative; clear: both; width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 146px 0 ;}

.content6 > section > div > div{position: relative; width: 560px; padding-top: 479px;}
.content6 > section > div > div::after{content: ""; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 345px; height: 379px; background: url(../images/application_con6_img2.png)no-repeat 0 0;}


/* content7 */
.content7 > section{position: relative; width: 100%; height: 100%; color: #000; background:#FFE8D8; z-index: 1;}
.content7 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/application_con7_img3.png)no-repeat 0 0; z-index: -2;}

.content7 > section > div{position: relative; clear: both; width: 1720px; height: 100%; margin: 0 auto; padding-top: 120px;}
.content7 > section > div::after{content: ""; position: absolute; left: 0; bottom: 150px; width: 1434px; height: 879px; background: url(../images/application_con7_img2.png)no-repeat 0 0; background-size: cover; z-index: -1;}

.content7 > section > div > div{position: relative; float: right; width: 560px; padding-bottom: 470px;}
.content7 > section > div > div::after{content: ""; position: absolute; left: 0; bottom: 0; width: 513px; height: 400px; background: url(../images/application_con7_img1.png)no-repeat 0 0; background-size: cover; z-index: -1;}


/* content8 */
.content8 > section{position: relative; width: 100%; height: 100%; color: #000; background:#FFE8D8; z-index: 1;}
.content8 > section::after{content: ""; position: absolute; right: 0; top: 0; width: 1259px; height: 1010px; background: url(../images/application_con8_img1.png)no-repeat 0 0; z-index: -1;}
.content8 > section::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/application_con8_img2.png)no-repeat 0 0; z-index: -2;}

.content8 > section > div{position: relative; clear: both; width: 1720px; height: 100%; margin: 0 auto; box-sizing: border-box;  padding: 120px 0 0 146px;}

.content8 > section > div > div{position: relative; width: 560px; padding-bottom: 482px;}
.content8 > section > div > div::after{content: ""; position: absolute; left: -45px; bottom: 0; width: 504px; height: 436px; background: url(../images/application_con8_img3.png)no-repeat 0 0; background-size: cover; z-index: -1;}


/* content9 */
.content9 > section{position: relative; width: 100%; height: 100%; color: #000; background: linear-gradient(0deg, #FFE8D8 0%, rgba(253, 199, 154, 0.00) 100%); z-index: 1;}
.content9 > section::after{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/application_con9_img1.png)no-repeat 0 0; z-index: -1;}
.content9 > section::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: rgba(85, 37, 5, 0.55); background-blend-mode: multiply;}



}

